{
  "extends": [
    "bliss",
    "prettier",
    "plugin:testcafe/recommended"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "no-plusplus": "off",
    "flowtype-errors/show-errors": "off"
  },
  "plugins": [
    "testcafe"
  ]
}
